header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1em;
  background-color: var(--primary-color); /* Dodano kolor tła */
  color: white; /* Kolor tekstu */
}

header a {
  text-decoration: none;
  color: white; /* Kolor linków */
}

header a.active {
  text-decoration: underline;
  color: var(--accent-color); /* Kolor aktywnego linku */
}

.router-outlet {
  min-height: 70vh;
  flex: 1;
}

footer {
  padding: 0.5em 1em;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color); /* Dodano kolor tła */
  color: white; /* Kolor tekstu */
}

header nav {
  display: flex;
  gap: 1em;
}

.toolbar-with-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color); /* Dodano kolor tła */
}

.toolbar-with-links h1 {
  margin: 0;
  color: white; /* Kolor tekstu */
}
