<header>
  <h1><a routerLink="/">JWT Authorization Example</a></h1>
  <nav>
    <a routerLink="/"
       routerLinkActive="active"
    >Start</a>
    <a *ngIf="canAccessUsers()"
      routerLink="/users"
      routerLinkActive="active">Register</a>
    <a *ngIf="canAccessItems()"
      routerLink="/items"
      routerLinkActive="active">Items</a>
  </nav>
</header>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

<footer>
  <div *ngIf="getUsername()">
    {{ getUsername() }}
    <button class="logout_button" (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!getUsername()">
    Not logged in
  </div>
</footer>
